<div class="page-header">
	<h1>Responses for <%= @page.name %></h1>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable(<%= raw @responses_pie_data %>);

    var options = {
      title: 'Approval Units Visible'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>


<div class="row">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6">
    <div id="piechart" style="width: 100%; height: 300px;"></div>
  </div>
</div>


<table class="datatable" id="datatable">
  <thead>
    <tr>
      <th>URN</th>
      <th>Network Partner</th>
      <th>Contact</th>
      <th>Approval Unit</th>
      <th>Visible?</th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.contact.network_partner.urn %></td>
        <td><%= response.contact.network_partner.name %></td>
        <td><%= response.contact.full_name %></td>
        <td><%= response.approval_unit.format %></td>
        <td><%= response.visible ? "Yes" : "No" %></td>
      </tr>
    <% end %>
  </tbody>
</table>