<div class="page-header">
	<h1>Campaign Approval for <%= @page.name %></h1>
</div>

<%= form_tag responses_path do %>
  <% @responses.each_with_index do |response, index| %>
    <%= fields_for "responses[#{index}]", response do |f| %>
      <%= response.approval_unit.format %>
      <%= f.check_box :visible %>
      <%= f.hidden_field :contact_id, value: response.contact_id %>
      <%= f.hidden_field :approval_unit_id, value: response.approval_unit_id %>
    <% end %>
  <% end %>
  <%= submit_tag "Submit" %>
<% end %>