<div class="page-header">
	<h1>Campaign Approval for <%= @page.name %></h1>
</div>

<%= @responses.inspect %>

<%= form_tag responses_path do %>
  <%= @responses.each_with_index do |response, index| %>
    <%= fields_for "responses[#{index}]", response do |f| %>
      <%= f.check_box :visible %>
      <%= f.hidden_field :contact_id, value: @contact.id %>
    <% end %>
  <% end %>
  <%= submit_tag "Submit" %>
<% end %>