<h1>New response</h1>

<%= form_tag responses_path do %>
  

  <% @page.approval_units.each do |au| %>
  	<%= au.format %>
  	<%= hidden_field_tag :contact, value: @contact %>
    <%= hidden_field_tag :approval_unit, value: au %>
    <%= check_box_tag :visible %><br>
  <% end %>

  <div class="actions">
    <%= submit_tag "Send Response" %>
  </div>
<% end %>

<%= @responses %>


<% if params[:page] %>
<%= @page.name %>
<%= @contact.email %>
<% else %>
<p>no page set </p>
<% end %>

<%= link_to 'Back', responses_path %>
